.theme {
    margin: 5px 0;
    padding-left: 30rem;
}

span {
    font-size: 64px;
    font-weight: 900;
}

.calendar {
    display: flex;
    flex-direction: column;
    width: 28%;
    font-size: 18px;
    border: 2px solid #blue;
    border-radius: 25px;
    margin: 5rem auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row label {
    display: flex;
    margin-right: 8px;
}


.row select {
    display: flex;
    width: fit-content;
    font-size: 24px;
    text-align: center;
    margin: 8px;
}

.calendar table {
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
    padding: 15px;
}

.calendar table tr {
    width: fit-content;
    height: 12px;
    padding: 8px 16px;
}